spring:
  datasource:
    generate-unique-name: false
    h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    properties:
      javax:
        persistence:
          validation:
            # needed because we have a custom annotation that
            # already validates the object when it is passed
            # to the application
            mode: none
# Give custom page query options
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 100
#        page-parameter: currentPage
#        size-parameter: pageSize